* {
  margin: 0;
  padding: 0; }

#parallax-inicio {
  background-image: url(../img/slide2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative; }
  #parallax-inicio p {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding: 100px 20px 100px;
    position: relative;
    color: white;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 80px; }

/*-------------------
 cuatro secciones
 ---------------------*/
#four-section {
  background-color: #001f5b;
  width: 100%;
  position: relative; }
  #four-section .bloque2 {
    background-color: #003da6; }
  #four-section .bloque3 {
    background-color: #005cb9; }
  #four-section .bloque4 {
    background-color: #0082ca; }
  #four-section img {
    width: 100%;
    padding: 10px 0px; }
  #four-section .txt-fsection {
    color: white;
    text-align: center;
    padding: 10px; }
  #four-section ul li {
    display: inline-block;
    list-style: none; }
    #four-section ul li img {
      width: 100%; }

/*-------------------
 fin cuatro secciones
 ---------------------*/
/*-----------------------
    seccion imagen texto
-------------------------*/
#img-txt {
  position: relative;
  background-color: white; }
  #img-txt .slider-img {
    padding: 100px 30px; }
  #img-txt .slider-txt {
    padding: 100px 0px;
    text-align: left;
    margin-right: -56px;
    max-width: 455px; }
    #img-txt .slider-txt h2 {
      color: #00ABCC;
      padding-bottom: 10px; }
    #img-txt .slider-txt h2::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 2px;
      background-color: #00ABCC;
      display: block;
      margin-left: 149px; }
    #img-txt .slider-txt p {
      text-align: justify; }

/*---------------------------
    fin section imagen texto
-----------------------------*/
/*---------------------------------
        two section
----------------------------------*/
#two-section {
  position: relative; }
  #two-section .apartado-uno {
    background-color: #0082ca;
    padding: 40px;
    margin-bottom: 10px; }
    #two-section .apartado-uno .txt-rotateuno {
      color: white;
      text-align: center;
      padding: 50px 0px; }
    #two-section .apartado-uno .linea {
      height: 1px;
      width: 69px;
      background-color: white;
      left: 40%;
      display: block;
      margin: 0 auto;
      margin-top: 10px; }
    #two-section .apartado-uno .btn-primary {
      border: 1px solid white;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
      background-color: transparent; }
    #two-section .apartado-uno .txt-rotateuno-o {
      color: white;
      text-align: center;
      padding: 30px; }
  #two-section .apartado_dos {
    background-color: #005cb9;
    width: 100%;
    padding: 40px;
    margin-bottom: 10px; }
    #two-section .apartado_dos .txt-rotatedos {
      color: white;
      text-align: center;
      padding: 50px 0px; }
    #two-section .apartado_dos .linea {
      height: 1px;
      width: 69px;
      background-color: white;
      left: 40%;
      display: block;
      margin: 0 auto;
      margin-top: 10px; }
    #two-section .apartado_dos .btn-primary {
      border: 1px solid white;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
      background-color: transparent; }
    #two-section .apartado_dos .txt-rotateuno-dos {
      color: white;
      text-align: center; }

/*--------------------
        two section
------------------------*/
/*---------------------------
        transmicion
------------------------------*/
#transmicion {
  background-color: #f4f4f4;
  position: relative;
  margin: 0 auto; }
  #transmicion img {
    width: 100%;
    height: 100%; }
  #transmicion .txt-transmicion {
    padding: 30px; }
    #transmicion .txt-transmicion h2 {
      text-align: left;
      padding: 10px 0px;
      font-weight: normal;
      margin-top: 10px; }
    #transmicion .txt-transmicion h2::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 2px;
      background-color: #2d83b4;
      margin-left: 0;
      top: 40px; }
    #transmicion .txt-transmicion h1 {
      text-align: left;
      padding: 10px 0px; }
    #transmicion .txt-transmicion p {
      padding: 10px; }
    #transmicion .txt-transmicion .btn-primary {
      border-radius: 0%;
      padding: 10px; }

/*-----------------------------
        fin transmicion
-------------------------------*/
/*--------------------------
    media querys
---------------------------*/
@media (max-width: 768px) {
  #two-section .apartado-uno .txt-rotateuno {
    color: white;
    top: 10px;
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 10px; }
    #two-section .apartado-uno .txt-rotateuno h1 {
      padding-top: 20px;
      text-align: center;
      padding-top: 10px; }
    #two-section .apartado-uno .txt-rotateuno .txt-rotateuno-o {
      font-size: 21px;
      padding: 0px 10px 35px;
      position: relative;
      color: white;
      margin: 0 auto;
      margin-top: 0;
      text-align: left; } }

@media (max-width: 576px) {
  #parallax-inicio {
    height: 400px; }
    #parallax-inicio p {
      padding: 0px; }
  #img-txt {
    position: relative;
    background-color: white; }
    #img-txt .slider-img {
      padding: 32px 10px; }
    #img-txt .slider-txt {
      padding: 0px 17px; }
      #img-txt .slider-txt p {
        padding: 17px; }
  #two-section .apartado-uno .txt-rotateuno {
    color: white;
    top: 10px;
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 10px; }
    #two-section .apartado-uno .txt-rotateuno h1 {
      padding-top: 20px;
      text-align: center;
      padding-top: 10px; }
    #two-section .apartado-uno .txt-rotateuno .txt-rotateuno-o {
      font-size: 21px;
      padding: 0px 10px 35px;
      position: relative;
      color: white;
      margin: 0 auto;
      margin-top: 0;
      text-align: left; } }

#nav-menu {
  background-color: #001f5b !important; }
  #nav-menu #navbarSupportedContent ul {
    margin: 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-top: 0px; }
    #nav-menu #navbarSupportedContent ul li .nav-item {
      color: white !important; }

#foter-redes {
  height: 100%;
  background-color: #001f5b;
  position: relative; }
  #foter-redes ul {
    list-style: none;
    margin: 5px;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0px; }
  #foter-redes a {
    list-style: none;
    margin: 5px;
    margin-top: 0px; }
  #foter-redes img {
    margin-left: 1px;
    padding: 20px 0px 10px; }
  #foter-redes li {
    margin-left: 0px;
    margin-top: 0px;
    color: white;
    font-size: 14px;
    padding: 10px 0px; }
  #foter-redes .fuente-icono {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 3px 0px; }
  #foter-redes .fuente-icono:hover {
    color: #001f5b;
    background-color: white; }
  #foter-redes .fuente-icono-y {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #001f5b;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 3px 0px; }
  #foter-redes .fuente-icono-y:hover {
    color: #001f5b;
    background-color: white; }

footer .content-line {
  width: 100%;
  height: 8px;
  background-color: #005cb9; }

/*-------------------------
        contacto
---------------------------*/
#formulario {
  background-image: url(../img/bg-x2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative; }
  #formulario form {
    border: 5px solid white;
    padding: 20px 20px;
    margin-top: 50px;
    margin-bottom: 30px; }
    #formulario form h2 {
      color: white;
      padding: 30px 0px;
      text-align: left; }
    #formulario form h2::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 1px;
      background-color: white;
      display: block;
      margin-left: 135px; }
    #formulario form label {
      color: white; }
    #formulario form input {
      border: none;
      background-color: transparent;
      color: white;
      border-bottom: 1px solid white; }
    #formulario form textarea {
      border: none;
      background-color: transparent;
      color: white;
      border-bottom: 1px solid white; }
    #formulario form .invalid-feedback {
      color: white; }
    #formulario form ::-webkit-input-placeholder {
      color: #001f5b; }
    #formulario form :-ms-input-placeholder {
      color: #001f5b; }
    #formulario form ::-ms-input-placeholder {
      color: #001f5b; }
    #formulario form ::placeholder {
      color: #001f5b; }
    #formulario form .btn-primary {
      border: 1px solid white;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
      color: white;
      background-color: transparent; }
    #formulario form .btn-primary:hover {
      border: 1px solid #005cb9;
      color: #005cb9;
      background-color: white; }
  #formulario .info-contacto {
    margin-top: 50px; }
    #formulario .info-contacto h2 {
      color: white;
      margin-top: 30px;
      font-weight: 100;
      font-size: 24px; }
    #formulario .info-contacto h2::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 1px;
      background-color: white;
      margin-left: 0;
      top: 10px; }
    #formulario .info-contacto p {
      color: white;
      font-size: 16px;
      font-weight: 100; }
    #formulario .info-contacto .fas {
      font-size: 14px;
      padding: 10px; }
    #formulario .info-contacto .contacto-redes {
      padding-top: 50px; }
      #formulario .info-contacto .contacto-redes .titulo-re {
        color: white;
        font-weight: 100; }
      #formulario .info-contacto .contacto-redes .titulo-re::after {
        content: "";
        position: relative;
        width: 31px;
        height: 1px;
        background-color: red;
        margin-left: 0;
        top: 0px; }
      #formulario .info-contacto .contacto-redes ul {
        text-decoration: none;
        margin-top: 20px; }
        #formulario .info-contacto .contacto-redes ul li {
          color: white;
          list-style: none;
          display: inline;
          padding: 0 10px; }

/*-------------------------
    fin contacto
---------------------------*/
#oferta {
  background-image: url(../img/bg-x2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative; }
  #oferta .academica {
    border: 10px solid white;
    padding: 50px 0px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%; }
    #oferta .academica h1 {
      color: white;
      text-align: center;
      font-weight: 100; }
    #oferta .academica .txt-academica {
      width: 80%;
      padding: 30px; }
      #oferta .academica .txt-academica p {
        color: white; }
  #oferta .carreras {
    margin-top: 50px;
    padding: 0px 30px; }
    #oferta .carreras h5 {
      color: white;
      font-weight: 100;
      padding: 30px; }
    #oferta .carreras h5::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 1px;
      background-color: white;
      display: block;
      top: 50px; }
    #oferta .carreras .fas {
      color: white; }
    #oferta .carreras ul {
      color: white; }
      #oferta .carreras ul li {
        color: white; }

* {
  margin: 0;
  padding: 0; }
